<!DOCTYPE html>
<html>
<head>
  <title>HelloWorld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", new_user_session_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>





<% unless current_user.nil?  %>
<%= link_to "Create", controller: "games", action: "create", id: current_user.id%>
<%= link_to "join", controller: "games", action: "join", id: current_user.id, 
game_id: 2  %>
	
<% end %>

<%= yield %>

</body>
</html>
`